<?xml version="1.0"?>
<config>
    <modules>
        <Mdg_Featured>
            <version>0.1.0</version>
        </Mdg_Featured>
    </modules>
    <global>
        <helpers>
            <featured>
                <class>Mdg_Featured_Helper</class>
            </featured>
        </helpers>
        <blocks>
            <featured>
                <class>Mdg_Featured_Block</class>
            </featured>
        </blocks>
        <models>
            <featured>
                <class>Mdg_Featured_Model</class>
            </featured>
        </models>
        <resources>
            <featured_setup>
                <setup>
                    <module>Mdg_Featured</module>
                    <class>Mdg_Featured_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_setup>
            <featured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featured_write>
            <featured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featured_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <featured>
                <use>standard</use>
                <args>
                    <module>Mdg_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>
        <layout>
            <updates>
                <featured>
                    <file>mdg/featured/local.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mdg_Featured before="Mage_Adminhtml">Mdg_Featured_Adminhtml</Mdg_Featured>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <featured>
                    <file>mdg/featured/admin.xml</file>
                </featured>
            </updates>
        </layout>
    </adminhtml>
</config>